<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.blog.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.blog.entity.Comment">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="author" property="author" />
        <result column="email" property="email" />
        <result column="ip_addr" property="ipAddr" />
        <result column="post_id" property="postId" />
        <result column="content" property="content" />
        <result column="comment_status" property="commentStatus" />
        <result column="parent_id" property="parentId" />
    </resultMap>

</mapper>
