<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.blog.mapper.PostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.blog.entity.Post">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="original_content" property="originalContent"/>
        <result column="format_content" property="formatContent"/>
        <result column="post_status" property="postStatus"/>
        <result column="cover_image" property="coverImage"/>
        <result column="browse_times" property="browseTimes"/>
        <result column="category_id" property="categoryId"/>
        <result column="allow_comment" property="allowComment"/>
        <result column="recommend" property="recommend"/>
    </resultMap>

    <select id="findPage" parameterType="string" resultType="com.mini.blog.model.vo.PostListVO">
        SELECT
        po.id,
        po.title,
        po.cover_image,
        po.description,
        po.browse_times,
        ca.NAME category_name,
        po.recommend,
        po.allow_comment,
        po.create_time,
        po.update_time,
        po.post_status,
        GROUP_CONCAT(ta.name) AS tags
        FROM
        tb_post po
        LEFT JOIN tb_category ca ON po.category_id = ca.id
        LEFT JOIN tb_post_tag pt ON po.id = pt.post_id
        LEFT JOIN tb_tag ta ON ta.id = pt.tag_id
        GROUP BY po.id
        HAVING 1=1
        <if test="qryDTO.keyWord != null and qryDTO.keyWord != ''">
            AND po.title LIKE CONCAT('%',#{keyWord},'%')
        </if>
        <if test="qryDTO.postStatus != null and qryDTO.postStatus != ''">
            AND po.post_status = #{qryDTO.postStatus}
        </if>
        ORDER BY po.create_time DESC
    </select>

    <select id="findByCategoryId" resultType="com.mini.blog.model.vo.PostListVO">
        SELECT a.id,a.title,a.create_time FROM tb_post a WHERE a.category_id = #{categoryId}
    </select>

    <select id="listByPage" resultType="com.mini.blog.entity.Post">
        SELECT a.id,a.title,a.create_time FROM tb_post a ORDER BY a.create_time DESC
    </select>

    <select id="getById" resultType="com.mini.blog.entity.Post">
        SELECT
        po.*,ca.name category_name,GROUP_CONCAT(ta.name) AS tags
        FROM tb_post po
        LEFT JOIN tb_category ca ON po.category_id = ca.id
        LEFT JOIN tb_post_tag pt ON po.id = pt.post_id
        LEFT JOIN tb_tag ta ON ta.id = pt.tag_id
        GROUP BY po.id
        HAVING po.id = #{id}
    </select>

    <select id="getRecommendList" resultType="com.mini.blog.entity.Post">
        SELECT p.create_time,p.title FROM tb_post p
        WHERE p.recommend = '1'
        ORDER BY p.create_time desc  LIMIT 12 OFFSET 1
    </select>
</mapper>
